.advantages {
  background-color: $porcelain;
}

.advantages__container {
  @include container;

  padding: 118px 0;

  @media (max-width: $max-tablet-width) {
    max-width: 820px;
    padding: 99px 0 95px;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
    max-width: 600px;
    padding: 68px 0;
  }
}

.advantages__container h2 {
  margin: 0 0 72px;

  text-align: center;

  @media (max-width: $max-tablet-width) {
    margin: 0 0 51px;
  }
}

.advantages__list {
  @include list-style-reset;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: calc(60% + 344px);
  margin: 0 auto;

  @media (max-width: $max-tablet-width) {
    width: calc(60% + 271px);
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }
}

.advantages__item {
  display: flex;
  align-items: flex-start;
  width: 50%;
  min-height: 154px;

  @media (max-width: $max-tablet-width) {
    min-height: 234px;
  }

  @media (max-width: $max-mobile-width) {
    min-height: auto;
    width: 100%;
    margin: 0 0 44px;

    &--area {
      order: 1;
    }

    &--parking {
      order: 2;

      & img:first-of-type {
        width: 23%;
      }
    }

    &--comfort {
      order: 4;
    }

    &--isntructors {
      order: 5;

      & img:first-of-type {
        width: 23%;
      }
    }
  }

  &:nth-of-type(2n + 1) .advantages__statistics {
    margin-left: 29px;

    @media (max-width: $max-tablet-width) {
      margin-left: 3px;
    }

    @media (max-width: $max-mobile-width) {
      margin: 0 0 11px;
    }
  }

  &:nth-of-type(2n + 2) {
    justify-content: flex-end;

    & .advantages__statistics {
      @media (max-width: $max-tablet-width) {
        margin-left: 16px;
        margin-right: 21px;
      }

      @media (max-width: $max-mobile-width) {
        margin: 0 0 11px;
      }
    }
  }

  &:nth-of-type(4n + 4),
  &:nth-of-type(4n-1) {
    align-items: flex-end;

    & .advantages__statistics,
    & .advantages__description {
      justify-content: flex-end;
    }
  }

  &:nth-of-type(4n - 7),
  &:nth-of-type(4n - 14) {
    & .advantages__item-wrapper {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        bottom: -98%;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: $pink-20;

        @media (max-width: $max-tablet-width) {
          content: none;
        }
      }
    }
  }
}

.advantages__item-wrapper {
  display: flex;
  width: 340px;

  @media (max-width: $max-mobile-width) {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 14%;
  }
}

.advantages__statistics {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 33px;

  @media (max-width: $max-tablet-width) {
    margin-right: 13px;
  }

  @media (max-width: $max-mobile-width) {
    justify-content: center;
    width: 100%;

    text-align: center;
  }
}

.advantages__statistics picture {
  line-height: 0;
}

.advantages__statistics img {
  margin: 0 0 4px;

  @media (max-width: $max-tablet-width) {
    width: 80%;
  }

  @media (max-width: $max-mobile-width) {
    width: 36%;
    margin: 0 0 5px;
  }
}

.advantages__statistics span {
  @include font-size-height-color(14, 21, $admiral);
}

.advantages__description {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (max-width: $max-mobile-width) {
    text-align: center;
  }
}

.advantages__description h3 {
  @include font-size-height-color(22, 22);

  margin: 0 0 12px;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(20, 20);

    margin: 0 0 4px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 0 6px;
  }
}

.advantages__description p {
  @include font-size-height-color(16, 22);

  margin: 0;

  font-weight: 300;
}

.advantages__main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 53px 33px;
  min-height: 307px;
  width: calc(50% - 280px);
  box-sizing: border-box;

  color: $white;

  background-color: $peacock;

  @media (max-width: $max-tablet-width) {
    top: 50%;
    bottom: 50%;

    min-height: 239px;
    width: calc(50% + 103px);
    padding: 30px 130px;
  }

  @media (max-width: $max-mobile-width) {
    position: static;

    width: 100%;
    margin: 0 0 49px;
    padding: 39px 22% 30px;
    order: 3;
  }
}

.advantages__main-statistics {
  margin: 0 0 36px;

  @media (max-width: $max-tablet-width) {
    margin: 0 0 16px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 0 11px;
  }
}

.advantages__main-statistics p {
  @include font-size-height-color(74, 74);

  margin: 0 0 11px;

  font-weight: bold;
  text-align: center;

  @media (max-width: $max-tablet-width) {
    margin: 0 0 6px;
  }

  @media (max-width: $max-tablet-width) {
    margin: 0;
  }
}

.advantages__main-statistics span {
  @include font-size-height-color(26, 26, $white);

  font-weight: bold;

  text-align: center;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(22, 22);
  }
}

.advantages__main-description {
  margin: 0;

  text-align: center;
  line-height: 24px;
  max-width: 100%;
}
