.header {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

.header__container {
  @include container;
  @include font-size-height-color(26, 26);

  display: flex;
  justify-content: space-between;
  padding: 29px 0;

  font-family: $bebas-neue;
  letter-spacing: 0.04em;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(24, 24);

    padding: 38px 0;

    letter-spacing: 0.03em;
  }

  @media (max-width: $max-mobile-width) {
    @include font-size-height-color(20, 20);

    padding: 18px 0;
  }
}

.header__logo svg {
  @media (max-width: $max-tablet-width) {
    width: 81px;
    height: 19px;
  }

  @media (max-width: $max-mobile-width) {
    width: 68px;
    height: 15px;
  }
}

.header__contacts a {
  color: $white;
}
