.intro {
  background: radial-gradient(circle at left bottom, $blue 15%, $crimson 50%);
  background-image: url("../img/intro_conic-gradient-bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  @media (min-resolution: $retina-dpi) {
    background-image: url("../img/intro_conic-gradient-bg@2x.jpg");
  }
}

.intro__container {
  @include container;

  position: relative;

  padding: 169px 0 93px;

  background: url("../img/intro_desktop_photo-bg@1x.jpg") calc(396px + 10%) center no-repeat;

  @media (min-resolution: $retina-dpi) {
    background-image: url("../img/intro_desktop_photo-bg@2x.jpg");
    background-size: 500px 556px;
  }

  @media (max-width: $max-tablet-width) {
    padding: 136px 0 104px;

    background: url("../img/intro_tablet_photo-bg@1x.jpg") right calc(10% - 36px) center no-repeat;

    @media (min-resolution: $retina-dpi) {
      background-image: url("../img/intro_tablet_photo-bg@2x.jpg");
      background-size: 324px 390px;
    }
  }

  @media (max-width: $max-mobile-width) {
    padding: 113px 0 79px;

    background: none;
  }
}

.intro__text-content-wrapper {
  max-width: 396px;

  @media (max-width: $max-tablet-width) {
    max-width: 324px;
    margin-left: calc(10% - 68px);
  }

  @media (max-width: $max-mobile-width) {
    max-width: 100%;
    margin: 0;
  }
}

.intro__city {
  @include font-size-height-color(49, 49, $white);

  margin: 0 0 11px;

  font-family: $bebas-neue;
  text-align: right;
  letter-spacing: 0.03em;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(34, 34);

    margin: 0 0 5px;
  }

  @media (max-width: $max-mobile-width) {
    @include font-size-height-color(28, 28);

    max-width: 291px;
    margin: 0 0 10px;
  }
}

.intro__headline-wrapper {
  position: relative;

  margin: 0 0 57px;

  color: $white;

  @media (max-width: $max-tablet-width) {
    margin: 0 0 42px;
  }

  @media (max-width: $max-mobile-width) {
    max-width: 291px;
    margin: 0 0 44px;
  }
}

.intro h1 {
  @include font-size-height-color(109, 109);

  margin: 0;

  font-family: $bebas-neue;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: right;
  text-transform: uppercase;
  -webkit-text-stroke: 2px $white;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(86, 86);
  }

  @media (max-width: $max-mobile-width) {
    @include font-size-height-color(78, 78);
  }
}

.intro__headline-wrapper ul {
  @include list-style-reset;

  position: absolute;
  top: 127px;
  left: 19px;

  text-align: right;

  @media (max-width: $max-tablet-width) {
    top: 94px;
    left: 0;
  }

  @media (max-width: $max-mobile-width) {
    top: 82px;
    left: 0;
  }
}

.intro__headline-wrapper li {
  @include font-size-height-color(14, 21);
}

.intro__membership-link {
  @include button-style;
  @include on-hover;
  @include on-focus;

  box-sizing: border-box;
  width: 232px;
  margin-left: auto;

  @media (max-width: $max-tablet-width) {
    width: 185px;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }
}

.intro__socials {
  @include list-style-reset;
  @include font-size-height-color(12, 14, $white);

  position: absolute;
  right: 0;
  bottom: 94px;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $roboto-condensed;
  text-transform: uppercase;

  @media (max-width: $max-tablet-width) {
    @include visually-hidden;
  }
}

.intro__socials li {
  &:not(:last-of-type) {
    margin: 0 0 19px;
  }
}

.intro__socials a {
  @include on-hover;

  color: $white;
}
