.promo {
  padding: 120px 0 117px;

  @media (max-width: $max-tablet-width) {
    padding: 100px 0;
  }

  @media (max-width: $max-mobile-width) {
    padding: 71px 0 70px;
  }
}

.promo__container {
  @include container;

  background: $denim url("../img/promo_desktop_photo@1x.jpg") 100% 50% / calc(90% - 384px) no-repeat;

  @media (min-resolution: $retina-dpi) {
    background-image: url("../img/promo_desktop_photo@2x.jpg");
  }

  @media (max-width: $max-tablet-width) {
    max-width: 820px;

    background-size: calc(60% - 20px);
  }

  @media (max-width: $max-mobile-width) {
    max-width: 600px;

    background-position: 48% calc(60% + 145px);
    background-size: calc(30% + 357px);
  }
}

.promo__text-content-wrapper {
  max-width: 43%;
  padding: 84px calc(10.9% - 50px);
  box-sizing: border-box;

  background: $rose;

  @media (max-width: $max-tablet-width) {
    padding: 49px calc(10.9% - 30px);
  }

  @media (max-width: $max-mobile-width) {
    max-width: none;

    padding: 49px calc(10.9% + 12px);
  }
}

.promo__headline-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px;

  color: $white;

  @media (max-width: $max-tablet-width) {
    margin: 0;
  }
}

.promo__headline-wrapper h3 {
  @include font-size-height-color(90, 90);

  margin: 0;

  font-family: $bebas-neue;
  letter-spacing: 0.03em;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(52, 52);
  }
}

.promo__event-calendar {
  min-width: 92px;
  max-width: 140px;

  @media (max-width: $max-tablet-width) {
    min-width: 57px;
  }
}

.promo__evetn-date {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 21px;

  @media (max-width: $max-tablet-width) {
    margin: 0 0 7px;
  }
}

.promo__time-unit {
  @include font-size-height-color(18, 20);

  display: block;
  width: 100%;
  margin: 0 0 8px;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(12, 14);

    margin: 0 0 3px;
  }
}

.promo__date-block {
  display: flex;
  padding: 5px 0 0;

  border-top: 1px solid $white;

  @media (max-width: $max-tablet-width) {
    padding: 4px 0 0;
  }
}

.promo__day-number {
  @include font-size-height-color(40, 40);

  margin-right: 6px;

  font-weight: bold;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(24, 24);

    margin-right: 4px;
  }
}

.promo__month-year-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.promo__month-year-wrapper span {
  @include font-size-height-color(14, 19);

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(10, 12);
  }
}

.promo__time-block {
  @include font-size-height-color(40, 50);

  display: block;

  font-weight: bold;

  border-top: 1px solid $white;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(24, 30);
  }
}

.promo__event-description {
  @include font-size-height-color(18, 27, $white);

  margin: 0 0 47px;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(12, 18);

    margin: 0 0 31px;
  }
}

.promo__fill-request-link {
  @include button-style;
  @include on-hover;
  @include on-focus;

  padding: 25px 0;

  @media (max-width: $max-tablet-width) {
    @include font-size-height-color(10, 12);

    padding: 12px;

    border-width: 2px;
  }
}

.promo__image-spreader {
  @media (max-width: $max-mobile-width) {
    min-height: 292px;
  }
}
