$max-mobile-width: 767px;
$max-tablet-width: 1199px;
$max-container-width: 1160px;
$retina-dpi: 144dpi;

$charcoal: hsl(222, 79%, 6%); //#030A1A
$white: hsl(0, 0%, 100%);
$porcelain: hsl(225, 40%, 98%); // #F8F9FC
$snow: hsla(0, 0%, 47%, 0.2); // rgba(120, 120, 120, 0.2)
$cloud: hsl(0, 0%, 91%); // #E8E8E8
$aegean: hsl(220, 26%, 39%); // #495A7D
$eggplant-50: hsla(221, 68%, 20%, 0.5); // rgba(16, 38, 84, 0.5)
$eggplant-89: hsla(221, 68%, 20%, 0.89); // rgba(16, 38, 84, 0.89)
$stone: hsl(221, 18%, 76%); // #B6BDCC
$pewter: hsl(221, 17%, 53%); // #74819C
$blue: hsl(212, 100%, 26%); // #003E85
$navy: hsl(224, 83%, 37%); // #103AAE
$admiral: hsl(237, 58%, 43%); // #2E35AC
$azure: hsl(220, 100%, 36%); //#003EB7
$denim: hsl(239, 100%, 14%); // #000147
$peacock: hsl(224, 61%, 28%); // #1C3374
$dark-blue: hsl(221, 68%, 20%); // #102654
$crimson: hsl(347, 100%, 36%); // #B80028
$rose: hsl(347, 98%, 47%); // #ED0235
$punch: hsl(343, 91%, 43%); // #D10A42
$pink-20: hsla(343, 91%, 43%, 0.2); // rgba(209, 10, 66, 0.2)

$__: hsl(222, 79%, 6%);

$bebas-neue: "Bebas Neue", "Arial", sans-serif;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
