$max-mobile-width: 767px;
$max-tablet-width: 1199px;
$max-container-width: 1160px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;

$charcoal: hsl(222, 79%, 6%);
$white: hsl(0, 0%, 100%);
$porcelain: hsl(225, 40%, 98%);
$snow-02: hsla(0, 0%, 47%, 0.02);
$snow-05: hsla(0, 0%, 47%, 0.05);
$snow-07: hsla(0, 0%, 47%, 0.07);
$snow-10: hsla(0, 0%, 47%, 0.1);
$snow-20: hsla(0, 0%, 47%, 0.2);
$snow-30: hsla(0, 0%, 47%, 0.3);
$snow-40: hsla(0, 0%, 47%, 0.4);
$cloud: hsl(0, 0%, 91%);
$aegean: hsl(220, 26%, 39%);
$eggplant-50: hsla(221, 68%, 20%, 0.5);
$eggplant-89: hsla(221, 68%, 20%, 0.89);
$stone: hsl(221, 18%, 76%);
$pewter: hsl(221, 17%, 53%);
$blue: hsl(212, 100%, 26%);
$navy: hsl(224, 83%, 37%);
$admiral: hsl(237, 58%, 43%);
$azure: hsl(220, 100%, 36%);
$denim: hsl(239, 100%, 14%);
$peacock: hsl(224, 61%, 28%);
$dark-blue: hsl(221, 68%, 20%);
$crimson: hsl(347, 100%, 36%);
$rose: hsl(347, 98%, 47%);
$punch: hsl(343, 91%, 43%);
$pink-20: hsla(343, 91%, 43%, 0.2);

$bebas-neue: "Bebas Neue", "Arial", sans-serif;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
